* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:white;
}
#main {
    margin: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(142, 42, 42);
}

#header {
    background-color: rgb(142, 42, 42);
    width: 80%;
    height: 20%;
    padding: 3rem;
    text-align: center;
    font-size: 20px;
    color: bisque;
}

#header h3 {
    margin-top: 2rem;
    font-weight: 300;
}
#img-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4rem solid bisque;
    margin: 2rem;
}

img {
    width: 30rem;
    background-size: 100%;
}

#img-caption {
    background-color: bisque;
    color: rgb(142, 42, 42);
    padding-top: 2rem;
}

#image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#tribute-info {
    font-size: 20px;
    color: bisque;
}

.tribute-details {
    background-color: bisque;
    padding: 2rem;
    line-height: 2rem;
}

.tribute-details ul {
    padding: 2rem 4rem;
    font-size: 20px;
}

ul li, h2 {
    color: rgb(142, 42, 42);
}
